[Unit]
Description=TWiT E-Ink Dashboard timer

[Timer]
OnCalendar=*-*-* 06,12,18:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
