[Unit]
Description=TWiT E-Ink Dashboard
After=network-online.target decrypt-secrets.service
Wants=network-online.target
Requires=decrypt-secrets.service

[Service]
Type=oneshot
EnvironmentFile=%t/secrets/secrets.env
ExecStart=%h/Projects/twitcast/.venv/bin/twitcast dashboard
WorkingDirectory=%h/Projects/twitcast

[Install]
WantedBy=default.target
