[Unit]
Description=TWiT E-Ink Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=%h/.local/bin/decrypt-secrets
EnvironmentFile=%t/secrets/secrets.env
ExecStart=%h/Projects/twitcast/.venv/bin/twitcast dashboard
WorkingDirectory=%h/Projects/twitcast

[Install]
WantedBy=default.target
