[Unit]
Description=TWiT Transcript Promo
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.secrets.env
ExecStart=%h/Projects/twitcast/.venv/bin/twitcast promo
WorkingDirectory=%h/Projects/twitcast

[Install]
WantedBy=default.target
